body{
  width: 1200px;
}

.wrap{
  width: 80%;
  height: 100px;
  background-color: #421C54;
  display: flex;
  
}

.list{
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-inline-start:0;

}

.list-link{
  width: 26%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ef0f0f;
}

.activ-link{
  text-decoration: underline;
}


